.services-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 150px;
}
.slider-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}