main {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100vh;
  background-image: url(/assets/touch-to-nature.jpg);
  background-size: cover;
}
.bottom-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* geçiş yüksekliği */
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,1) 100%
  );
  z-index: 2;
}