.navbarContainer{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 80%;
    transform: translateX(12%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.navbar{
    background-color: #F2E3BB;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbarSvg{
    width: 35px;
}
