.slider{
    border-radius: 24px;
    width: 100%;
    height: 600px;
}
.slider-button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #003f02;
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.services-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 150px;
}
.serviceContent{
  position: relative;
  z-index: 10;
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color:white;
  text-align: center;
  padding: 0 50px;
  padding-top: 100px;
  gap: 50px;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.detail-btn{
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.779);
  color: white;
  padding: 12px;
}
.back-btn{
  border-radius: 8px;
  background-color: #ffffff;
  color: black;
  padding: 12px;
}