.slider{
    border-radius: 24px;
}
.slider-button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #003f02;
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.services-container{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 150px;
}
.slider-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.fade {
  transition: opacity 0.4s ease;
  opacity: 0;
}

.fade.show {
  opacity: 1;
}
.detail-btn{
  border-radius: 8px;
  margin-top: 8px;
  background-color: rgba(0, 0, 0, 0.779);
  color: white;
  padding: 10px;
}
.back-btn{
  border-radius: 8px;
  margin-top: 12px;
  background-color: #ffffff;
  color: black;
  padding: 10px;
}